<div class="Divisore" style="margin-top: 30px;">
    <div style="TEXT-ALIGN: CENTER ;">
        <h1>Come Donare</h1>
    </div>
    <br>
    <br>

    <div class="video-container">
        <div class="col-xs-12 video-responsive" align="center" style="align-content: center; margin: 0px;">
            <iframe src="https://www.youtube.com/embed/OcGFBGY9_NA?autoplay=1" width="1400" height="789" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
    <br clear="all">
    <br>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Valutazione clinica
                e firma del modulo
                di accettazione</h2>
        </div>


        <div class="col-sm-8">


            <h4>
                Il donatore (o aspirante tale) può prenotare la sua donazione tramite l'apposito form e scegliere la data e la sede a lui più comoda
                direttamente dal sito.

            </h4>
            <br>
            <br>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Il prelievo</h2>
        </div>
        <div class="col-sm-8">


            <h4>
                Il mattino del prelievo è preferibile aver fatto una colazione leggera a base di frutta fresca o
                spremute, tè o caffè poco zuccherati,
                pane non condito o altri carboidrati semplici.

            </h4>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Esami e controlli</h2>
        </div>
        <div class="col-sm-8">


            <h4>
                Al fine di garantire elevati livelli di qualità e sicurezza del sangue e per tutelare la salute sia
                del
                donatore, sia dei pazienti, ad ogni donazione il sangue prelevato viene sottoposto ai seguenti
                esami:
                <br>
                <br>
                <ul><b>
                        <li>Esame emocromocitometrico completo.</li>
                        Esami per la qualificazione biologica del sangue e degli emocomponenti di seguito
                        elencati:
                        <li>HBsAg (antigene di superficie del virus dell’epatite virale B);</li>
                        <li>Anticorpi anti-HCV (anticorpo contro il virus dell’epatite virale C);</li>
                        <li>Test sierologico per la ricerca combinata di anticorpo anti HIV (anticorpo contro il
                            virus</li>
                        <li>dell’AIDS) 1-2 e antigene HIV 1-2;</li>
                        <li>Anticorpi anti-Treponema Pallidum (TP) con metodo immunometrico (contro la sifilide);
                        </li>
                        <li>HBV/HCV/HIV 1 NAT (test per rilevare la presenza dei virus de lle epatiti virali B, C e
                            dell’AIDS).</li>
                    </b> </ul>
            </h4>
            <br>
        </div>

    </div>
   
</div>
