.form-group{
    width: 600px;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.card-body{
    background: #87c1ff;
    background: linear-gradient(to right, rgb(92, 163, 255), rgb(183, 226, 255));
}
