 <body>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" style="text-align: -webkit-center; ">

        <div class="form-group">
            <label for="userName">Username*</label>
            <input type="text" [(ngModel)]="user.username" required minlength="2" class="form-control" id="userName" name="userName"
              placeholder="Enter your username" required #username="ngModel" (keyup)="existUser()">
              <div *ngIf="(username.invalid && (username.dirty || username.touched)) || userExist " class="alert alert-danger">
                  <div *ngIf="username.errors.required">
                      Devi scrivere l'username.
                  </div>
                  <div *ngIf="username.errors.minlength">
                      Il nome deve essere lungo almeno 2 caratteri.
                  </div>
                  <div *ngIf="userExist && !username.errors">
                    Questo username è già utilizzato.
                </div>
              </div>
        </div>
    

      <div class="form-group">
        <label for="name">Name*</label>
        <input type="text" [(ngModel)]="user.name" required minlength="2" class="form-control" id="name" name="name"
          placeholder="Enter your name" required #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                  Devi scrivere Il nome.
              </div>
              <div *ngIf="name.errors.minlength">
                  Il nome deve essere lungo almeno 2 caratteri.
              </div>
          </div>
    </div>

      <div class="form-group">
        <label for="lastName">Cognome*</label>
        <input type="text" [(ngModel)]="user.lastname" required minlength="2" class="form-control" id="lastName" name="lastName"
          placeholder="Enter your last name" required #lastName="ngModel">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
              <div *ngIf="lastName.errors.required">
                  Devi scrivere Il cognome.
              </div>
              <div *ngIf="lastName.errors.minlength">
                  Il cognome deve essere lungo almeno 2 caratteri.
              </div>
          </div>
      </div>

      <div class="form-group">
        <label for="email">Email*</label>
        <input type="text" [(ngModel)]="user.email" class="form-control" id="email" name="email"
          placeholder="Enter your email address" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                  Devi scrivere una e-mail.
              </div>
              <div *ngIf = "email.errors?.pattern">
                 L'email non sembra essere corretta.
              </div>
          </div>
      </div>

      <div class="form-group">
        <label for="stato">CAP*</label>
          <select [(ngModel)]="user.stato" class="form-control" id="stato" name="stato"
          placeholder="Enter your CAP" required #stato="ngModel" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected value="Ancona">Ancona 60131</option>
            <option value="Ascoli Piceno">Ascoli Piceno 63100</option>
            <option value="Fermo">Fermo 63100</option>
            <option value="Macerata">Macerata 62100</option>
            <option value="Pesaro e Urbino">Pesaro e Urbino 61049</option>
          </select>
          <div *ngIf="stato.invalid && (stato.dirty || stato.touched)" class="alert alert-danger">
              <div *ngIf="stato.errors.required">
                  Devi inserire il tuo CAP.
              </div>
            </div>

        </div>
       
      <div class="form-group">
        <label for="password">Password*</label>
        <input type="password" [(ngModel)]="user.password"  required minlength="7" class="form-control" id="password" name="password"
          placeholder="Enter your password" required #password="ngModel">
          <div *ngIf="password.invalid && (lastName.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
              Devi scrivere la Password.
          </div>
        <div *ngIf="password.errors.minlength">
           La password deve essere lunga almeno 7 caratteri.
        </div>
        </div>
      </div>

      <div class="form-group">
        <label for="emergenza">Donazione di Emergenza?*</label>
        <select [(ngModel)]="user.emergenza" class="form-control" id="emergenza"
          name="emergenza" placeholder="Inserisci la risposta alla donazione d'emergenza" required
          #emergenza="ngModel">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <div *ngIf="emergenza.invalid && (emergenza.dirty || emergenza.touched)" class="alert alert-danger">
            <div *ngIf="emergenza.errors.required">
               Devi rispondere si o no
              </div>
          </div>

      </div>
    
      
      <button type="submit" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" 
      [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
      <div id="collapseBasic" [collapse]="isCollapsed" style="margin-top: 20px;">
      </div>

     

      <div class="container">
        * = campo obbligatorio
      </div>

      <div class="row" style="margin-top: 30px; width: 350px; height: 350px;" *ngIf="showMsg">
          <div class="col-xs-12">
            <div class="alert alert-success">
            <p>
                <strong>La registrazione è andata a buon fine.</strong>
            </p>
            <a routerLink="/login" >Vai alla pagina di login</a>
          </div>
          </div>
        </div>

    </form>
    <div>
      <a style="color: red;" routerLink="/home" >Torna alla home</a>
    </div>
  </div>
</body>

