<div class="card my-5">
    <div class="card-body">
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Centro</th>
            <th scope="col">Giorno prenotazione</th>
            <th scope="col">Numero di Telefono</th>
            <th scope="col">Stato di Salute</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prenotazioneForm of prenotazioni">
            <td>{{ prenotazioneForm.centro }}</td>
            <td>{{ prenotazioneForm.compleanno }}</td>
            <td>{{ prenotazioneForm.telefono }}</td>
            <td>{{ prenotazioneForm.statosalute }}</td>
            <td>{{ prenotazioneForm.note }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container" style="margin-bottom: 30px;">
    <a routerLink="/avis-page" class="btn btn-info">Torna alla pagina principale Avis</a>
  </div>
