<ul class="nav" style="font-size: 23px; margin-bottom: 30px; margin-top: 30px;">
    <li class="nav-item">
        <a class="btn" data-toggle="collapse" routerLink="/sangue" role="button">Conservazione Sangue</a>
    </li>
</ul>
<div class="video-container">
    <div class="col-xs-12 video-responsive" align="center" style="align-content: center; margin: 0px;">
        <iframe src="https://www.youtube.com/embed/ZWL3UZAKnMM?autoplay=1" width="1400" height="789" frameborder="0"
            allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
</div>
<br clear="all">
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Requisiti</h2>
        </div>


        <div class="col-sm-8">

            <h3>Età:</h3>
            <h4>
                18-60 anni (per candidarsi a diventare donatori).
                Chiunque desideri donare per la prima volta dopo i 60 anni può essere accettato a discrezione del medico
                responsabile della selezione.
                <h3>Peso:</h3>
                Non inferiore ai 50 kg.
                <h3>Stile di vita:</h3>
                Nessun comportamento a rischio che possa compromettere la nostra salute e/o quella di chi riceve il
                nostro sangue.

                L’idoneità alla donazione viene stabilita da un medico mediante un colloquio, una valutazione clinica e
                una serie di esami di laboratorio
                previsti per garantire la sicurezza del donatore e del ricevente.

            </h4>
            <br>
            <br>

        </div>
    </div>
</div>

<div class="text-center">
    <p>
        <img src="assets\images\AVIS-la-donazione-01.png" align="middle" class="img-fluid">

        <p>
            <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Principali criteri di sospensione della donazione</h2>
        </div>


        <div class="col-sm-8">
            <ol ><b>

                    <li>
                        <h4> 4 mesi: dopo piercing, tatuaggi, rapporti sessuali a rischio non reiterati,
                            interventi chirurgici maggiori, agopuntura, endoscopie.</h4>

                    </li>

                    <li>
                        <h4> 6-12 mesi: dopo il rientro da viaggi in zone dove esiste il rischio di contrarre malattie
                            infettive tropicali.</h4>
                    </li>

                    <li>
                        <h4> 6 mesi dopo il parto.</h4>
                    </li>
                    <li>
                        <h4> Periodi differenti: per vaccinazioni, patologie infettive, assunzione di medicine.</h4>
                    </li>
                    <li>
                        <h4> Esclusione permanente: positività per test HIV, epatite B e C, malattie croniche.</h4>
                    </li>

                </b>
            </ol>
            <br>
            <br>

        </div>
    </div>
</div>