
<div class="Divisore2" style="margin-top: 30px;">
    <ul class="list-group">
        <div style="TEXT-ALIGN: CENTER ;">
            <h1>GLI 8 PRINCIPI ETICI DELLA DONAZIONE</h1>
        </div>
        <br>
        <br>

        <div class="container">
            <div class="text-center">
                <p>
                    <img src="assets\images\diventa-donatore_big1.jpg" align="middle" class="img-fluid">
            
                    <p>
                        <br>
            </div>
            <ol><b>

                    <li>Anonimato</li>
                    <h3> L’identità del donatore e del ricevente sono gestite nel rispetto della privacy dagli operatori
                        del
                        Sistema
                        trasfusionale e dalle associazioni di volontariato.</h3>
                    <br>



                    <li> Libertà di scelta</li>
                    <h3> La donazione del sangue è una scelta libera e consapevole.</h3>

                    <br>

                    <li>Non-profit</li>
                    <h3> Il sangue e gli emocomponenti non possono essere fonte di profitto; il valore di una unità di
                        sangue/emocomponente è fissato
                        in base agli oneri sostenuti per la raccolta, la preparazione, la qualificazione e la
                        distribuzione
                        dei
                        prodotti sanguigni.
                    </h3>

                    <br>
                    <li>Gratuità</li>
                    <h3> La donazione del sangue è gratuita e non può essere remunerata in alcun modo.
                        In Italia la donazione a pagamento è perseguibile per legge in base all’art. 22 della legge
                        219/2005.</h3>
                    <br>


                    <li>Igiene</li>
                    <h3> Per ogni donatore, il materiale utilizzato per il prelievo è sterile e monouso.</h3>

                    <br>

                    <li> Sicurezza</li>
                    <h3> La gratuità, la visita pre-donazione ed i test diagnostici
                        effettuati assicurano la sicurezza dei prodotti trasfusi ai malati e la tutela dello stato di
                        salute
                        dei
                        donatori.</h3>


                    <br>
                    <li> Qualità</li>
                    <h3> Il rispetto delle buone pratiche e i numerosi controlli sui materiali utilizzati garantiscono
                        la
                        miglior
                        qualità dei prodotti trasfusionali.</h3>


                    <br>
                    <li> Periodicità</li>
                    <h3> Il sangue di donatori periodici rappresenta una garanzia di affidabilità e sicurezza per il
                        ricevente nonché
                        certezza di approvvigionamenti.
                        Il donatore periodico è controllato dal punto di vista medico, in quanto sottoposto ad accurate
                        visite e
                        attenti controlli sul sangue.</h3>
                    <br>
                </b>
            </ol>

        </div>

    </ul>
    
</div>