<div class="container" style="height: auto;">
<div id="tuodiv">
  <carousel>
    <slide style="text-align: -webkit-center;">
      <img class="immagine-uno" src="assets\images\DonaIlSangue.jpg" alt="first slide">  
    </slide>
    <slide style="text-align: -webkit-center;">
      <img class="immagine-due" src="assets\images\sicurezza-donatori.jpg" alt="second slide">
    </slide>
  </carousel>
</div>
</div>

<br>

<div class="container">
  <h1 class="display">La donazione in tre punti</h1>
  <ul class="list-group">
    <li class="list-group-item"><b>PUNTO 1: </b> Il sangue è un importantissimo tessuto non riproducibile in
      laboratorio che può salvare la vita di molte persone</li>
    <li class="list-group-item"><b>PUNTO 2: </b> In Italia ogni anno vengono trasfuse oltre 3 milioni di unità di
      emocomponenti (oltre 8mila al giorno) e più di 800mila kg di plasma sono utilizzati per la produzione di farmaci
      plasmaderivati</li>
    <li class="list-group-item"><b>PUNTO 3: </b> Per diventare donatori occorre avere un’età compresa tra 18 anni e i
      60 anni, un peso non inferiore a 50 Kg e godere di buona salute.
    </li>
  </ul>
 

</div>