.carousel-inner {
    opacity: 1;
    background: black;
    }
    
.carousel-inner .item {
    opacity: 0.4;
   
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
}

.list-group-item{
    padding-top: 15px;
    margin-bottom: 15px;
    border-color: black;
}

@media (max-width: 310px){
    .container{
        max-height: 300px;
    }
}


.immagine-uno{
    display: block; 
    width: 100%; 
    height: 100%;
    max-width: 100%;
    max-height: auto;
}

.immagine-due{
    display: block; 
    width: 100%; 
    height: 100%;
    max-width: 100%;
    max-height: auto;
}

@media (max-width: 310px){
    .immagine-uno,.immagine-due{
        max-width: 400px;
        max-height: 400px;
    }
}



.carousel-inner .active {
    opacity: 1;
    
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
}

img{
    opacity: 0.9;
    filter: alpha(opacity=40);
}


#tuodiv {
    width: 100%; 
    max-height: none;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }




.table-container{
    overflow-x: scroll;
}

