

      <body>    
        <div class="container" style=" height: 780px;">
            <div class="row" >
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b>Bentornato <b>"AVIS"</b>,inserisci qui le credenziali per l'accesso</b></h5>
    
                            <form class="form-signin">
                                <div class="form-label-group">
                                        <p style="color:rgb(184, 17, 17);">Username</p>
                                    <input type="username" name="username" [(ngModel)]="username" id="inputUsername" class="form-control" placeholder="Email address"
                                        required autofocus>
                                    <label for="inputUsername"></label>
                                </div>
                                <div class="form-label-group">
                                    <p style="color:rgb(184, 17, 17);">Password</p>
                                    <input type="password" name="password" [(ngModel)]="password" id="inputPassword" class="form-control" placeholder="Password"
                                        required>
                                    <label for="inputPassword"></label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                   
                                </div>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)=checkLogin() type="submit">Login</button>
                                <hr class="my-4">
                            </form>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>