<!-- QUESTA è LA PAGINA CHE GESTISCE LA TOOLBAR, COL ROUTERLINK MI CI SPOSTO NEL SITO -->

<nav class="navbar navbar-expand-lg navbar-light" style="justify-content: center; background-color: #000000;">
    <a class="navbar-brand"></a>
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active" style="font-size: 24px; color: white;">
    <img src="assets/icons/Logo-Avis-Brescia1.png" >
  </a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="background-color: white;"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarNavAltMarkup">
    
    <ul class="navbar-nav mr-auto" style="align-items: center;">
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/donare" routerLinkActive="active" style="font-size: 24px ; color: white; ">Donazione
          <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item active">
          <a class="nav-link" routerLink="/chi-puo-donare" routerLinkActive="active" style="font-size: 24px ; color: white; ">Chi può Donare?
            <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/come-donare" routerLinkActive="active" style="font-size: 24px ; color: white; ">Come donare
            <span class="sr-only">(current)</span></a>
        </li>

      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle" style="font-size: 24px; color: white; ">
          Login <span class="caret"></span>
        </button>

        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <button type="button" class="btn btn-light">
          <li role="menuitem"><a class="dropdown-item" routerLink="/login" routerLinkActive="active"
              style="font-size: 24px; ">Login Utente</a></li>
            </button>

            <button type="button" class="btn btn-light">
          <li role="menuitem"><a class="dropdown-item" routerLink="/dottore-login" routerLinkActive="active"
              style="font-size: 24px; ">Login Dottore</a></li>
            </button>

            <button type="button" class="btn btn-light">
          <li role="menuitem"><a class="dropdown-item" routerLink="/avis" routerLinkActive="active"
              style="font-size: 24px; ">Login Avis</a></li>
            </button>
        </ul>
      </div>

      




    </ul>
  </div>
</nav>
